<!-- @format -->

{% extends 'base.html' %} {% block title %}Change Password{% endblock %} 
{% load static %} 
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  {% include 'includes/messages.html' %}
  <div class="container">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html' %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change your Password:</strong>    
          </header>
          <div class="card-body">
            
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-row">
                    
                    <div class="form-group col-md-12 ">

                      <label for="address">Current Password:</label>
                        <input
                            type="password"
                            class="form-control"
                            name="current_password"
                            placeholder="Enter your current password"
                        />
                    </div>
                    <div class="form-group col-md-12">

                      <label for="address">New Password:</label>
                        <input
                            type="password"
                            class="form-control"
                            name="new_password"
                            placeholder="Enter your new password"
                        />
                    </div>
                    <div class="form-group col-md-12">

                      <label for="city">Confirm New Password:</label>
                        <input
                            type="password"
                            class="form-control"
                            name="confirm_password"
                            placeholder="Confirm your new password"
                        />
                    </div>
                    

                      <input
                        type="submit"
                        class="btn btn-primary mt-4"
                        value="save changes"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->

          <!-- table-responsive .end// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
